.page {
  height: 100%;
  overflow-y: auto;
  padding: 32px var(--main-padding);
}

.grid {
  display: grid;
  gap: 18px;
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}

.withBanner {
  padding-top: 82px;
  position: relative;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--green);
  color: #0c1411;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 42px;
  flex-wrap: wrap;
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-right: 24px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.1;
  color: #ffffff;
}

.extra {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: grid;
  gap: 18px;
}

@media (max-width: 991.98px) {
  .page {
    padding: 28px var(--main-padding);
  }
}

@media (max-width: 600px) {
  .page {
    padding: 28px 0;
  }

  .banner {
    gap: 20px;
  }

  .grid {
    gap: 16px;
  }

  .title {
    font-size: 28px;
  }

  .header {
    padding: 0 var(--main-padding);
  }
}

@media (max-width: 500px) {
  .banner {
    gap: 12px;
    padding: 12px 10px;
  }
}

@media (max-width: 425px) {
  .banner {
    gap: 8px;
    padding: 12px 6px;
    font-size: 12px;
  }
}

.small .grid {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-small);
  gap: 36px;
}

.small .header {
  padding-bottom: 18px;
}
